In [1]:
from sklearn import datasets
from sklearn import  linear_model
import pandas as pd
import numpy as np

data_boston_house =  datasets.load_boston()

boston_df = pd.DataFrame(data_boston_house.data, columns= data_boston_house.feature_names)
boston_df.head()
boston_df_target = pd.DataFrame(data_boston_house.target, columns=["MEDV"])
boston_df_target.head()

/Users/franatagola/opt/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

   MEDV
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [2]:
boston_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [3]:
regression_model = linear_model.LinearRegression()
boston_house_regression_model =  regression_model.fit(boston_df, boston_df_target)

In [4]:
boston_house_regression_model.score(boston_df, boston_df_target)

0.7406426641094095

In [6]:
boston_house_regression_model.predict(boston_df.loc[1:10])

array([[25.02556238],
       [30.56759672],
       [28.60703649],
       [27.94352423],
       [25.25628446],
       [23.00180827],
       [19.53598843],
       [11.52363685],
       [18.92026211],
       [18.99949651]])

In [7]:
boston_df_target[1:10]

   MEDV
1  21.6
2  34.7
3  33.4
4  36.2
5  28.7
6  22.9
7  27.1
8  16.5
9  18.9