In [6]:
def functiontest ():
    print("function test")
    print("sasa")
print("out of scope")
functiontest()

out of scope
function test
sasa

lalala

In [21]:
myInt = 1
myFloat = 1.0

print(myInt)
print(myInt/2)

1
0.5

In [23]:
myInt = 2
type(myFloat)
print(type(myFloat))
print(type(myInt))

<class 'float'>
<class 'int'>

In [22]:
myString = "this is my string"

print(myInt * myString)

this is my string

In [24]:
myBool = False


myCompare = myInt == myFloat

print(type(myBool))
print(type(myCompare))

<class 'bool'>
<class 'bool'>

In [26]:
a=b=c=d= 6

print(a,b,c,d)

6 6 6 6

In [27]:
a,b=[1,2]
print(a, b)

1 2

In [29]:
myVariable = "ini my variable"

myChildAge="camel case"
MyChildAge="pascal case"
my_child_age="snake case"

In [30]:
# operator 
myFirstNumber = 10
mySecondNumber = 3

print(myFirstNumber+ mySecondNumber)
print(myFirstNumber- mySecondNumber)
print(myFirstNumber* mySecondNumber)
print(myFirstNumber/ mySecondNumber)
print(myFirstNumber % mySecondNumber)
print(myFirstNumber ** mySecondNumber)

13
7
30
3.3333333333333335
1
1000

In [36]:
hello = "hello"
name = "name"
name2 = "name"

print(hello + name)

helloname

In [39]:
print(hello == name)
print(name2 == name)
print(name2 > name)
print(name2 >= name)
print(name2 != name)
print(name2 <= name)
print(name2 < name)


isSameName = name == name2
if(isSameName):
    print("name and name2 have same value")

False
True
False
True
False
True
False
name and name2 have same value

In [43]:
mytestVar = 1

In [46]:
str(mytestVar)

'1'

In [ ]:
myTestString = "name saya budi"