In [6]:
def functiontest ():
    print("function test")
    print("sasa")
print("out of scope")
functiontest()

out of scope
function test
sasa

lalala

In [21]:
myInt = 1
myFloat = 1.0

print(myInt)
print(myInt/2)

1
0.5

In [23]:
myInt = 2
type(myFloat)
print(type(myFloat))
print(type(myInt))

<class 'float'>
<class 'int'>

In [22]:
myString = "this is my string"

print(myInt * myString)

this is my string

In [24]:
myBool = False


myCompare = myInt == myFloat

print(type(myBool))
print(type(myCompare))

<class 'bool'>
<class 'bool'>

In [26]:
a=b=c=d= 6

print(a,b,c,d)

6 6 6 6

In [27]:
a,b=[1,2]
print(a, b)

1 2

In [29]:
myVariable = "ini my variable"

myChildAge="camel case"
MyChildAge="pascal case"
my_child_age="snake case"

In [30]:
# operator 
myFirstNumber = 10
mySecondNumber = 3

print(myFirstNumber+ mySecondNumber)
print(myFirstNumber- mySecondNumber)
print(myFirstNumber* mySecondNumber)
print(myFirstNumber/ mySecondNumber)
print(myFirstNumber % mySecondNumber)
print(myFirstNumber ** mySecondNumber)

13
7
30
3.3333333333333335
1
1000

In [36]:
hello = "hello"
name = "name"
name2 = "name"

print(hello + name)

helloname

In [39]:
print(hello == name)
print(name2 == name)
print(name2 > name)
print(name2 >= name)
print(name2 != name)
print(name2 <= name)
print(name2 < name)


isSameName = name == name2
if(isSameName):
    print("name and name2 have same value")

False
True
False
True
False
True
False
name and name2 have same value

In [43]:
mytestVar = 1

In [46]:
str(mytestVar)

'1'

In [47]:
myTestString = "name saya budi"

In [48]:
myTestString.capitalize()

'Name saya budi'

In [49]:
myTestString

'name saya budi'

In [50]:
myModifyStr = myTestString.split(' ')
print(myModifyStr)
print(myTestString)

['name', 'saya', 'budi']
name saya budi

In [52]:
myName = input("enter name")
print("my name is ", myName)

enter nameego
my name is  ego

In [53]:
6,7,8,9,10]# list 
myList = [1,2,3,4,5,
print(myList)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [55]:
myList2 = [2,1,3,4,5,6,7,8,9,10]

print(myList==myList2)

False

In [56]:
print(myList2[0])

2

In [57]:
print(myList2[-1])

10

In [65]:
myList2 = [1,"dua", 3,"empat"]
myList2 =[1,[2], [3,4]]

In [66]:
myList2[1]

[2]

In [74]:
my3List = myList2[2]

4

In [75]:
print(myList2 + my3List)

[1, [2], [3, 4], 3, 4]

In [77]:
print(myList2 * 2)

[1, [2], [3, 4], 1, [2], [3, 4]]

In [79]:
print(my3List.sort())

In [85]:
myUpsideList = [10,9,8]
myUpsideList.sort()
myUpsideList.count(9)

1

In [86]:
len(myUpsideList)

3

In [87]:
print(min(myUpsideList))
print(max(myUpsideList))

8
10

In [89]:
myUpsideList = [10,9,8]
myUpsideList.sort()
print(myUpsideList)

[8, 9, 10]

In [90]:
# manipulate list value
myUpsideList = [10,9,8]
myUpsideList.append(6)
print(myUpsideList)

[10, 9, 8, 6]

In [93]:
myUpsideList[3]=7

In [94]:
myUpsideList

[10, 9, 8, 7, 7, 7]

In [101]:
myList = [10, 9, 8, 6, 7]
existVal = myList[3]
myList[3]= myList[4]
myList[4]=existVal

myList

[10, 9, 8, 7, 6]

In [103]:
myList[1:4]=[2,3,4,5]
myList

[10, 2, 3, 4, 5, 6]

In [104]:
# tuple
myTuple = (1,3,4,5,6)
myTuple

(1, 3, 4, 5, 6)

In [123]:
myTuple.count(4)
listFromTouple = list(myTuple)

In [106]:
myTuple.count(3)

1

In [107]:
# dictionary atau Map
aboutMe = {"name":"hepiska", "age": 29, "hobbies" : ["movie", "code"],  }
aboutMe

{'name': 'hepiska', 'age': 29, 'hobbies': ['movie', 'code']}

In [109]:
aboutMe["name"]

'hepiska'

In [110]:
aboutMe["ocupancie"] = "TL"

In [111]:
aboutMe

{'name': 'hepiska', 'age': 29, 'hobbies': ['movie', 'code'], 'ocupancie': 'TL'}

In [113]:
aboutMe["address"] = {
    "city": "tgg pandan",
    "region": "banka belitung",
    "street": "jalan air kolong"
}

In [114]:
aboutMe

{'name': 'hepiska',
 'age': 29,
 'hobbies': ['movie', 'code'],
 'ocupancie': 'TL',
 'address': {'city': 'tgg pandan',
  'region': 'banka belitung',
  'street': 'jalan air kolong'}}

In [115]:
myHobbies = aboutMe["hobbies"]
myHobbies

['movie', 'code']

In [116]:
type(myHobbies)

list

In [117]:
myHobbies[0]

'movie'

In [118]:
 aboutMe["hobbies"][0]

'movie'

In [119]:
 aboutMe["hobbies"][0] ="eat"
aboutMe

{'name': 'hepiska',
 'age': 29,
 'hobbies': ['eat', 'code'],
 'ocupancie': 'TL',
 'address': {'city': 'tgg pandan',
  'region': 'banka belitung',
  'street': 'jalan air kolong'}}